@model WebApplication2.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new book</h2>
@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.LabelFor(m=>m.Name,"Название книги")
    <br />
    @Html.EditorFor(m=>m.Name)
    <br />
    @Html.LabelFor(m=>m.Author, "Автор")
    <br />
    @Html.EditorFor(m => m.Author)
    <br />
    @Html.LabelFor(m=>m.Price, "Цена")
    <br />
    @Html.EditorFor(m => m.Price)
    <br/>
    <br/>
    <div class="form-actions no-color">
        <input type="submit" value="Create" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

