@using WebMVC.Extention
@using WebMVC.Models
@model WebMVC.Models.Orders

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var option = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("OrderBodyAjax"),
        LoadingElementId = "load",
        Confirm = "are you shure?"
    };
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @Html.Action("OrderBody", new {id = Model})
        </tbody>
    </table>
    <p>
        @Html.GetCustomers(Model)
        <input type="submit" value="get"/>
    </p>
}
<div>
    <hr />
</div>
<p> Ajax mvc</p>
@using (Ajax.BeginForm(option))
{
    <table  class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tabledata">
        @Html.Action("OrderBodyAjax", new { custId = Model})
        </tbody>
    </table>
    <div id="load" style="display: none"> 
        LOADING....... DATAS
    </div>
    <p>
        @Html.GetCustomers(Model)
        <input type="submit" value="get"/>
    </p>
}

@foreach (Customer cust in ViewBag.Customers)
{
    <div style="margin-right: 5pc; float: left">
       @Ajax.ActionLink(cust.Name, "OrderBodyAjax", new { id = cust.Id },
            new AjaxOptions()
            {
                UpdateTargetId = "tabledata",
                LoadingElementId = "load"
            })
    </div>
}

<p> Ajax mvc JSON</p>
@*@foreach (Customer cust in ViewBag.Customers)
{
    <div style="margin-right: 5pc; float: left">
        @Ajax.ActionLink(cust.Name, "OrderBodyAjaxJson", new { id = cust.Id },
            new AjaxOptions()
            {
                UpdateTargetId = "tabledata",
                LoadingElementId = "load",
                OnSuccess = "ParseResponse"
            })
    </div>
}*@
@*<script>
    function ParseResponse(data) {
        var tb = $("#tabledata");
        tb.empty();
        alert();
        for (var i = 0; i < data.length; i++) {
            tb.append("<tr><td>" + data[i].ID + "</td><td>"
                + data[i].Name + "</td></tr>");
        }
    }
</script>*@

@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}




