@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqjs")
</head>
<body>
<div class="navbar navbar-fixed-top" style="background-color: lightgray">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Content/EaCentral/i/Logo-358x78.png" alt="logo" style="height: 24px;" />
                        </a>
                        <ul class="dropdown-menu" style="z-index: 99992;">
                            <li>
                                <table>
                                    <tr>
                                        <td>
                                            <img src="~/Content/EaCentral/i/Logo-141x71.png" alt="logo" />
                                        </td>
                                        <td>
                                            Публічне акціонерне товариство «Державний ощадний банк України».<br />
                                            Надійний,&nbsp;найбільший&nbsp;та&nbsp;сучасний банк&nbsp;України.
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>
    

<div class="container body-content">
    @RenderBody()
</div>
   
</body>
</html>